# Token bota Discord - uzyskaj go z https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# ID serwera Discord
GUILD_ID=your_guild_id_here

# ID kanału głosowego, który będzie służył jako "trigger" do tworzenia nowych kanałów
TRIGGER_CHANNEL_ID=your_trigger_channel_id_here

# Kategoria, w której będą tworzone nowe kanały głosowe (opcjonalne)
CATEGORY_ID=your_category_id_here